<nav class="nav" id="mainNav">
  <div class="nav__inner">
    <a href="/" class="nav__logo">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="50" height="50" viewBox="200 300 1000 1000" enable-background="new 0 0 1500 1500" xml:space="preserve">
   <!-- <svg width="32" height="32" viewBox="0 0 36 36" fill="none"></svg> -->

<path fill="#0b4ed4" opacity="1.000000" stroke="none" 
	d="
M586.000000,542.000000 
	C586.000122,526.336731 585.900574,511.171967 586.129944,496.012146 
	C586.157715,494.179169 587.489319,491.569824 589.012756,490.673767 
	C616.219604,474.670807 643.539368,458.859558 670.855896,443.043488 
	C696.759033,428.045685 722.669189,413.059662 748.657349,398.210205 
	C749.885437,397.508453 752.242981,397.586945 753.499390,398.306427 
	C784.016602,415.782745 814.467468,433.375122 844.904602,450.990967 
	C867.692322,464.179565 890.391968,477.521790 913.276184,490.540222 
	C916.235779,492.223846 915.994934,494.268280 915.995300,496.694550 
	C916.001770,536.685608 916.000000,576.676636 916.000000,616.667664 
	C916.000000,637.496338 915.889404,658.326111 916.106689,679.152527 
	C916.143616,682.698547 914.766479,684.433594 911.991638,686.034119 
	C882.094788,703.279419 852.260193,720.632874 822.364990,737.881104 
	C799.698059,750.958862 776.967468,763.926331 754.268372,776.948547 
	C753.149414,777.590515 752.061279,778.286316 751.097961,778.872437 
	C736.658447,770.531494 722.357788,762.278259 708.064453,754.012329 
	C691.783691,744.597046 675.515137,735.160828 659.230957,725.751587 
	C643.226257,716.503723 627.221313,707.256226 611.191040,698.052795 
	C603.959351,693.900940 596.691833,689.809692 589.387390,685.787476 
	C586.591797,684.248108 585.915710,682.099915 585.923401,678.968628 
	C586.035217,633.479248 586.000000,587.989624 586.000000,542.000000 
M661.307922,530.931702 
	C657.653564,532.220093 656.891174,534.812866 656.908936,538.557312 
	C657.065186,571.550720 657.033142,604.545166 656.945679,637.539124 
	C656.937256,640.717407 657.236938,642.845886 660.669434,644.480103 
	C666.552124,647.280945 672.005676,650.978699 677.660706,654.263184 
	C700.857910,667.736084 724.022461,681.266785 747.342957,694.522827 
	C749.203369,695.580261 752.569580,695.533569 754.535522,694.570251 
	C760.392273,691.700500 765.889587,688.100464 771.545227,684.816528 
	C794.887695,671.262756 818.183411,657.626465 841.652649,644.295654 
	C844.510193,642.672546 845.057251,641.043701 845.050110,638.178772 
	C844.971313,606.517944 844.738647,574.853027 845.201355,543.198792 
	C845.305298,536.086609 843.891479,531.211792 837.086548,528.604187 
	C836.630920,528.429626 836.194946,528.192871 835.770691,527.948730 
	C807.434570,511.642548 779.100647,495.332581 750.904663,479.102478 
	C749.630249,479.871918 748.520996,480.562042 747.392822,481.219635 
	C732.835938,489.704620 718.302124,498.229584 703.710083,506.653595 
	C689.827820,514.667847 675.883972,522.575378 661.307922,530.931702 
z"/>
<path fill="#d44e0b" opacity="1.000000" stroke="none" 
	d="
M775.049805,818.165527 
	C799.244873,804.136597 823.440002,790.107788 847.635071,776.078918 
	C874.658264,760.410217 901.679626,744.738281 928.707520,729.077454 
	C931.113037,727.683655 933.428528,725.915649 936.029846,725.148071 
	C938.097229,724.537964 940.981445,724.406860 942.745239,725.403809 
	C965.670959,738.361267 988.484436,751.518311 1011.278870,764.706787 
	C1033.643921,777.646667 1055.941406,790.703552 1078.297363,803.659180 
	C1085.797363,808.005432 1093.331299,812.300476 1100.963623,816.406982 
	C1103.731812,817.896362 1105.075073,819.572144 1105.069702,822.927246 
	C1104.972900,883.914001 1104.982788,944.901062 1105.055176,1005.887939 
	C1105.058228,1008.520935 1104.268799,1009.777161 1101.894165,1011.134094 
	C1078.316040,1024.607544 1054.857422,1038.290405 1031.369263,1051.921387 
	C1006.757874,1066.203979 982.158081,1080.506714 957.536682,1094.771973 
	C952.157166,1097.888794 946.765991,1100.998169 941.239929,1103.838257 
	C940.166321,1104.390137 938.186768,1104.124634 937.055725,1103.480347 
	C911.754395,1089.068970 886.476013,1074.616577 861.271362,1060.036865 
	C834.940308,1044.805664 808.691040,1029.432861 782.406738,1014.120911 
	C780.156189,1012.809875 777.910706,1011.490173 775.344788,1009.546387 
	C775.034424,945.334045 775.042114,881.749756 775.049805,818.165527 
M962.327271,1009.921448 
	C965.104858,1008.192261 967.835144,1006.381042 970.667603,1004.746948 
	C990.790466,993.137756 1010.966492,981.619751 1031.005005,969.867004 
	C1032.485474,968.998657 1033.865479,966.526428 1033.874268,964.792725 
	C1034.042114,930.964417 1034.034058,897.134766 1033.885010,863.306274 
	C1033.878296,861.764954 1032.589111,859.608582 1031.253662,858.794495 
	C1022.595886,853.516785 1013.759277,848.532349 1004.981628,843.451416 
	C983.609497,831.080322 962.246582,818.692993 940.832764,806.394409 
	C939.952393,805.888855 938.340515,805.760010 937.498169,806.227783 
	C931.066833,809.799194 924.747192,813.571289 918.383240,817.264587 
	C895.179993,830.730103 871.998962,844.234314 848.731689,857.588318 
	C846.110840,859.092590 844.935547,860.699341 844.943848,863.782593 
	C845.034241,897.611633 844.966980,931.440979 845.109314,965.269653 
	C845.115784,966.809509 846.317749,969.002014 847.623535,969.775696 
	C859.022400,976.529419 870.596924,982.985657 882.071167,989.613586 
	C900.339844,1000.166260 918.544922,1010.829712 936.874268,1021.275391 
	C938.197937,1022.029724 940.647949,1022.022034 942.004150,1021.299194 
	C948.642456,1017.760437 955.087463,1013.859131 962.327271,1009.921448 
z"/>
<path fill="#0aad6f" opacity="1.000000" stroke="none" 
	d="
M726.950684,1009.834412 
	C717.241455,1015.568176 707.560059,1021.349915 697.817505,1027.026489 
	C672.661194,1041.684204 647.511414,1056.353760 622.294373,1070.906494 
	C603.171997,1081.941772 583.966858,1092.834351 564.728821,1103.666626 
	C563.627686,1104.286621 561.585144,1104.335938 560.504761,1103.724609 
	C546.125488,1095.589355 531.829590,1087.306152 517.533936,1079.023560 
	C503.804779,1071.069214 490.111328,1063.053223 476.381744,1055.099609 
	C459.969879,1045.592163 443.534302,1036.125488 427.112823,1026.634644 
	C418.189484,1021.477234 409.389099,1016.089111 400.288849,1011.266235 
	C397.347870,1009.707520 396.949493,1007.947754 396.953247,1005.109009 
	C397.018860,955.455444 397.000610,905.801880 397.000580,856.148254 
	C397.000580,845.317749 397.145111,834.484314 396.919891,823.658508 
	C396.844238,820.022095 398.089752,818.027222 401.244568,816.230042 
	C419.571869,805.789124 437.741730,795.072388 456.015747,784.537231 
	C472.167938,775.225342 488.417938,766.083069 504.567139,756.766052 
	C520.717102,747.448486 536.796875,738.009155 552.904419,728.618103 
	C555.448364,727.134949 557.874451,725.386353 560.558716,724.235718 
	C561.770203,723.716370 563.751770,723.887268 564.925476,724.553101 
	C580.715515,733.510620 596.429871,742.601501 612.152222,751.678101 
	C626.313171,759.853210 640.465942,768.042542 654.613098,776.241333 
	C678.522339,790.097412 702.424438,803.965820 726.651245,818.455322 
	C726.965576,882.665894 726.958130,946.250122 726.950684,1009.834412 
M651.675720,856.926941 
	C622.696106,840.057800 593.725891,823.172363 564.693359,806.394836 
	C563.777649,805.865662 561.978149,806.021973 560.996094,806.576599 
	C542.484924,817.032410 524.002991,827.541138 505.583862,838.158386 
	C493.820068,844.939453 482.130890,851.853088 470.520844,858.892822 
	C469.292480,859.637634 468.111389,861.631348 468.105804,863.050415 
	C467.971924,897.044495 467.964691,931.039368 468.115326,965.033325 
	C468.122559,966.665344 469.367401,968.993225 470.741333,969.809082 
	C483.962646,977.660767 497.335907,985.256531 510.665009,992.926758 
	C526.963867,1002.305908 543.230469,1011.742310 559.614563,1020.970337 
	C561.079895,1021.795593 563.703064,1022.011963 565.111816,1021.253784 
	C573.747681,1016.606323 582.202148,1011.619812 590.691711,1006.702576 
	C611.784302,994.485229 632.810913,982.152100 654.011902,970.126221 
	C656.766663,968.563599 657.037231,966.868896 657.033325,964.278442 
	C656.982788,931.117065 656.928528,897.955322 657.095337,864.794739 
	C657.114929,860.886475 655.909424,858.492004 651.675720,856.926941 
z"/>

</svg>
      <span class="nav__logo-text">TECHO<span>TRADERS</span></span>
    </a>
    <ul class="nav__links">
      <li><a href="/" class="<%= page === 'home' ? 'active' : '' %>">Home</a></li>
      <li><a href="/portfolio" class="<%= page === 'portfolio' ? 'active' : '' %>">Portfolio</a></li>
      <li><a href="/about" class="<%= page === 'about' ? 'active' : '' %>">About</a></li>
      <li><a href="/partners" class="<%= page === 'partners' ? 'active' : '' %>">Partners</a></li>
      <li><a href="/insights" class="<%= page === 'insights' ? 'active' : '' %>">Insights</a></li>
      <li><a href="/contact" class="nav__cta <%= page === 'contact' ? 'active' : '' %>">Contact</a></li>
    </ul>
    <button class="nav__hamburger" id="hamburger" aria-label="Toggle menu">
      <span></span><span></span><span></span>
    </button>
  </div>
</nav>
<div class="nav__mobile-menu" id="mobileMenu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/partners">Partners</a></li>
    <li><a href="/insights">Insights</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>
